/* Tablet & Mobile */
@media (max-width: 64em) {
    .btn {
        padding: 15px 16px;
        -webkit-appearance: none;
    }
    
    .contact-info {
        line-height: 2.5;
    }

    .form-control {
        padding: 15px 8px;
    }

    #footer .socials a {
        font-size: 24px;
        margin: 0 16px;
    }

    .copyright {
        font-size: 16px;
        margin: 24px 0;
    }
}
/* Mobile */
@media (max-width: 46.1875em) {
    .full-width,
    .s-col-full {
        width: 100%;
    }

    #header {
        overflow: hidden;
    }
    
    #nav,
    #nav .subnav li:first-child,
    #nav li {
        display: block;
    }
    
    #nav li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: #333;
        padding: 5px 25px;
    }

    #nav .subnav a {
        color: #fff;
    }

    #header .nav-search {
        display: none;
    }

    #header .menu-mobile {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
    }

}